* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.moviesearch-app {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: lightblue;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.moviesearch-title {
  color: darkblue;
  font-size: 2em;
  margin-bottom: 20px;
}

.moviesearch-welcome {
  color: rgb(139, 63, 0);
  font-size: 1.5em;
  margin-bottom: 40px;
  margin-top: 20px;
}

.moviesearch-form {
  margin-bottom: 20px;
}

.moviesearch-input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.moviesearch-input-card {
  background-color: white; 
  display: flex;
  text-align: center;
  justify-content: center;
  border-radius: 4px;
  align-content: center;
}

.moviesearch-input {
  outline: none;
  border: none;
  padding: 10px;
  font-size: 16px;
  width: 180px;
}

.moviesearch-icon {
  font-size: 22px;
  color: #757575;
  margin-top: 10px;
  padding-left: 8px;
  padding-right: 0px;
}

.moviesearch-close-icon {
  font-size: 22px;
  color: #757575;
  cursor: pointer;
  margin-top: 10px;
  padding-right: 8px;
}

.moviesearch-button {
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  background-color: darkblue;
  color: white;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
}

.moviesearch-loading {
  display: inline-block;
  margin: 20px;
  width: 40px;
  height: 40px;
  border: 3px solid rgba(195, 195, 195, 0.6);
  border-radius: 50%;
  border-top-color: #007BFF;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}

@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}

.moviesearch-error {
  color: red;
}

.moviesearch-input-error {
  color: red;
  margin-top: 10px;
}

.moviesearch-movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.moviesearch-movie-card {
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  width: 100%;
  max-width: 250px; 
  height: 310px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
}

.moviesearch-dog-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.moviesearch-movie-title {
  color: darkblue;
  text-align: left;
  font-size: 16px;
  margin-bottom: 5px;
}

.moviesearch-movie-author {
  color: green;
  text-align: left;
  margin-bottom: 5px;
}

.moviesearch-movie-year {
  color: coral;
}

.movie-details-span {
  color: rgba(0, 0, 0, 0.715);
  font-weight: bold;
}

@media (max-width: 768px) {
  .moviesearch-movie-card {
    width: 100%;
    max-width: none;
    height: auto;
  }

  .moviesearch-dog-image {
    height: auto;
  }
}
